h1{
    color: #ef476f;
    background-color: bisque;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #ced4da;
    letter-spacing: 2px;
    text-decoration: overline underline;
}

.caja{
    padding: 15px;
    margin: auto;
    width: 70%;
    background-color: #219ebc;
    color: wheat;
    border-radius: 12px;

}

.texto{
    text-align: justify;
    /* text-decoration: overline;    linea sobre el texto */
    /* text-decoration: line-through;    texto tachado*/
    /* text-decoration: underline;  texto subrayado  comun para los links*/

    text-indent: 30px; /* deja un espacio al comenzar el texto */
    line-height: 1.5;  /* espacio entre lineas */
} 