 h1{
    text-align: center;
}
/*
.rojo{
    background-color: red;
    
}
.DarkRed{
    background-color: DarkRed;
    
}

.DeepSkyBlue{
    background-color: DeepSkyBlue;
}

.Navy{
    background-color: Navy;
}


.Maroon{
    background-color: Maroon;

}

.DarkGoldenrod{
    background-color: DarkGoldenrod;
}
.Cornsilk{
    background-color: Cornsilk;
}
.black{
    background-color: black;
}

.rojo ,.DarkRed,.Navy, .DeepSkyBlue, .Maroon, .black{
    color: white;
}
*/


 

/*  Manejo de borders en css */

/* .rojo{
    border: 10px solid rgb(245, 5, 5);
}
.rosa{
    border: 10px dashed palevioletred;
}
.gold{
    border: double 10px #ffd700;
}

.DeepSkyBlue{
    border: 10px DeepSkyBlue groove;
}

.Maroon{
   border:10px inset Maroon;

}
.DarkGoldenrod{
  border: 10px outset DarkGoldenrod;
}

.black{
    color: black;
    border: 10px dotted black;
} */


/* .punteado{
    border-style: dotted;
    border-width: 10px 7px 4px 1px;
}
.discontinuo{
    border-style: dashed;
    border-width: thick; <!-- thin, medium, thick -->
}
.solido{
    border:solid red;
    border-width: 10px 5px;
}
.doble{
    border: 5px double;
    border-color: red pink purple rebeccapurple;
}
.surco{
    border: 10px groove;
    /*border-width: 10px;
    border-style: groove;
}
.cresta{
    border: 10px ridge;
}
.recuadro{
    border: 10px inset;
}
.outset{
    border: 10px outset;
}
.sin_borde{
    border: none;
}
.oculto{
    border: hidden;
}
.mixto{
    border-style: dotted solid dashed double;
} */

.solido{
    border:solid red;
    border-width: 5px;
    border-radius: 20px;
}